bin/
/build/
output.raw
output.res
.classpath

## -------------------------------
## Kate Swap Files
## -------------------------------
*.kate-swp
.#kate-*

## -------------------------------
## Backup artifacts
## -------------------------------
~*
*~

# maven output
target
/outputfile.*
/log
/.DS_Store
/outfile.ben.cnf
/outfile.db.cnf
/outfile.raw
/outfile.res
/outfile.summary
